div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome to Tractor!
    p.lead 升级! 升级! 升级! 升级!
    img(src='assets/images/yeoman.png')

.container
  .row
    .col-lg-12
      h1.page-header On-going games:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='game in games')
        li(tooltip='{{game.players.length}} / 4')
          a(ui-sref='game({ id: game._id })')
            span.badge.pull-right(ng-click='deleteGame(game, $event)') ×
            span {{game.name}}

  form.thing-form
    label Create a new game
    p.input-group
      input.form-control(type='text', placeholder='Create a new game here.', ng-model='newGameName')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='createGame()') Create!

footer.footer
  .container
    p
      a(href='https://twitter.com/gregwym') @gregwym
      = ' | '
      a(href='https://github.com/gregwym/tractor/issues') Issues
