div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome to "{{ game.name }}"
    p.lead Created by {{ game.creator.name }}
.container
  .row
    .col-md-8
      | This is the game view.
    .col-md-4
      .panel.panel-default
        .panel-heading
          .panel-title Players
        ul.list-group
          li.list-group-item(ng-repeat="player in game.players")
            {{ player.name }}
      .panel.panel-default
        .panel-heading
          .panel-title Chat
        ul.list-group
          li.list-group-item(ng-repeat="message in game.messages | orderBy:message.date:reverse")
            {{ message.sender }}: {{ message.content }}
          li.list-group-item
            form.input-group
              input.form-control(type="text", ng-model="newMessage")
              .input-group-btn
                button.btn.btn-primary(type="submit", ng-disabled="newMessage.length === 0", ng-click="sendMessage()") Send
